@use './../../scss/' as *;

.swiper__slide{
	width: 100%;
}

.row{
	@include flex(center,normal);
	flex-wrap: wrap;
	gap: 20px;
	&__title{
		font-size: 1.5rem;
	}
	&__controls{
	}
}

.controls-row{

	@include flex(center,flex-start);
	gap: 20px;
	overflow: hidden;
	border-radius: $border-radius;
	&__time{
		border: 1px solid white;
		padding: 5px 10px;
		height: 100%;

	}

}

.switcher {
	position: relative;
	display: flex;
	cursor: pointer;
	border: 1px solid $btn-color-secondary;
	border-radius: $border-radius;

	&__checkbox{
		display: none;
	}
	
	&__checkbox.active + .switcher::before {
		transform: translateX(25%)
	}
 
	// indicator
	&::before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  height: 100%;
	  width: 200%;
	  border-radius: inherit;
	  background-color: $btn-color-secondary;
	  transform: translateX(-75%);
	  transition: transform .5s ease-in-out;
	}
 }

 .switcher__trigger {
	position: relative;
	z-index: 1;
	padding: 3px 20px;
	font-size: 0.7rem;
 }

