$bg-body: rgba(0,0,0,1);
$main-color: #000;
$light-color: rgba(0,0,0,0.6);
$dark-color: #151419;
$btn-color-main: rgba(15,239,253,1);
$btn-color-secondary: rgba(255,0,245,1);
$txt-color: #fff;


$border-radius: 50px;

$header-height: 8rem;
$header-shrink-height: 5rem;

$mobile-width: 600px;
$medium-width: 900px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;